<form action="/auth/login" method="POST">
    <input type="text" placeholder="Username" name="name"><br>
    <input type="text" placeholder="Password" name="password"><br>
    <button type="submit">Login</button>
    <p>Don't have an account? <a href="/auth/signup">Signup</a></p>
</form>